@charset "utf-8";

/* feature em telas pequenas */
.ft-hor {
    margin: auto;
    max-width: 420px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.372);
}

.ft-hor img {
    background-color: var(--cor1);
    width: 100%;/*max-width*/
    height: 300px;
}

.ft-lt {
    max-height: 300px;
    padding: 10px;
}

@media (min-width: 750px) {
    .ft-hor {
        position: relative;
        margin: auto;
        max-width: 720px;
        height: 300px;
        transform: translate(0px, 20vh);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.372);
        clear: both;
    }

    .ft-hor img {
        background-color: var(--cor1);
        width: 300px;
        height: 300px;
        float: left;
    }

    .ft-lt {
        max-width: 400px;
        max-height: 300px;
        float: right;
        padding: 10px;
    }
}

:root {
    --cor-footer: #111;
    --cor0: #46042d;
    --cor1: brown;
    --cor2: indianred;
    --cor3: orange;
    --cor4: moccasin;
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #ddd;
    height: 100vh;
    font-family: var(--fonte0);
}

div#box-fixed {
    position: fixed;
    z-index: 2;
}

header nav#menu {
    background-color: var(--cor0);
    position: relative;
    width: 100vw;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: -10px 4px 16px rgba(0, 0, 0, 0.642);
}

header div.links {
    position: absolute;
    right: 38px;
}

header nav#menu a {
    background-color: var(--cor2);
    padding: 5px;
    padding-left: 20px;
    margin-right: 5px;
    border-radius: 1rem;
}

header h1 {
    color: var(--cor4);
    display: inline;
    position: fixed;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    z-index: 3;
}

section {
    background-color: white;
}

section p {
    line-height: 2em;
}

section.pb-50 {
    min-height: 90vh;
    padding: 10px;
}

section.top-circ {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section.img-fixed {
    background-color: var(--cor2);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.495);
}

section#img-mn {
    background-image: url('../imagens/fundo01.jpg');
}

section#img-pub {
    background-image: url('../imagens/fundo02.jpg');
}

footer {
    background-color: var(--cor-footer);
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: var(--cor2);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}